/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*////////// LOGO //////////*/

#logo {
  padding: 74px 0 0;
}

#logo h1 {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background: url(../images/exceptional-logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo h2 {
  display: inline-block;
  font: 2.5em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}